<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Do your <strong>EXIT TICKET</strong> now!</h1>
	<br>
	<p>Follow this link: <a href="<%= @url %>">Exit Ticket!!!</a></p>
	<br>
	<h3>Thanks!</h3>

</body>
</html>