<!DOCTYPE html>
<html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1> Thanks! </h1>
	<p>
		We just wanted to let you know that your account has been setup in our system. 
		<br/>
		<br/>
		<strong>LOOK OUT FOR THOSE EXIT TICKETS! WE WILL BE SENDING PLENTY YOUR WAY!</strong>
	</p>
	
</body>
</html>