@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

body {
  font-family: Oswald;
  font-size: 14px;
  color: white;
}

.cohort-show-page, .instructor-show-page {
  text-align: center;
}

button {
  cursor: pointer;
}

h1 {
  font-family: Oswald;
  color: white;
  font-size: 50px;
  font-weight: 400;
}

h2 {
  font-size: 25px;
  font-family: Oswald;
}

h3 {
  font-family: Oswald;
  font-size: 22px;
  color: white;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: 400;
}

a {
  color: #be0201;
  font-size: 16px;
}

.wrapper {
  max-width: 85%;
  margin: 0 auto;
  white-space: nowrap;
} 

.wrapper2 {
  max-width: 55%;
  margin: 0 auto;
} 

.create-button {
  background-color: #fa4542;
  box-shadow: 0 5px 0 0 #be0201;
  border-radius: 3px;
  margin: 10px;
  width: 200px;
  height: 40px;
  font-size: 21px;
  color: white;
  font-family: Oswald;
  border: none;
  padding-top: 3px;
  box-sizing: border-box;
}

.create-button:hover {
  background-color: #fe0301;
}

.create-button a {
  font-size: 22px;
  color: white;
  font-family: Oswald;
  text-decoration: none;
  vertical-align: middle;
}

.instructors-img, .producers-img, .students-img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  border-bottom: 5px solid black;
}

.cohort-instructors, .cohort-producers, .cohort-students, .instructor-cohorts {
  margin-bottom: 20px;
  background: white;
  border-radius: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  color: black;
  margin: 0 auto;
  margin: 10px;
}

.instructor-name h1 {
  text-align: center;
}

.WDI {
  border: 2px white solid;
  border-radius: 100px;
  width: 140px;
  height: 140px;
  background-color: black;
  margin: 0 auto;
  margin-top: 5px;
}

.instructor-cohorts {
  text-align: center;
}

.create-cohort {
  margin: 0 auto;
  width: 30%;
  margin-bottom: 20px;
}

.create-new-exit-ticket {
  margin: 0 auto;
  width: 50%;
  display: block;
  text-align: center;
}

.create-new-exit-ticket-form label, .create-new-exit-ticket-form input {
  text-align: center;
  font-size: 24px;
  font-family: Helvetica;
  font-weight: 300;
}

.submit-ticket  {
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  font-size: 24px;
  color: white;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.submit-ticket:hover{
  background-color: black;
}





body{
  margin: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.grid-1-5 {
  width: 20%;
  height:100vh;
}

.grid-2-5 {
  width: 40%;
  height:100vh;
}

.grid-5-5 {
  width: 100%;
}
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

.headline {
  text-align: center;
  margin: 35px auto;
  font: 75px bold 'Oswald', Helvetica, sans-serif;
  color: white ;
}

/* ///// Login Box ///// */

.login {
  position: relative;
  height: 330px;
  width: 50%;
  background: rgba(100, 100, 100, .3);
  margin: 0 auto 200px auto;
}

.login-radio {
  width: 100%;
  height: 70px;
  margin: 20px 0;
}

.radio {
  display: inline-block;
  margin: 30px 4%;
  white-space: nowrap;
}

label {
  display: inline-block;
  margin: 0 10px;
  font: bold 30px 'Oswald', Helvetica, sans-serif;
  text-align: center;
  color: white;
}

input[type="radio"] {
  margin-left: 10px;
}

.credentials {
  width: 75%;
  height: 50%;
  margin: 10px auto;  
}

.text-field {
  display: block;
  width: 76%;
  height: 42px;
  margin: 5px auto;
  font: 20px 'Oswald';
  background: rgb(200, 200, 200);
  border: none;
}

.new-name {
  width: 76%;
  margin: 0 auto ;
}

.new-name input:last-child {
  margin-left: 4.15%;

}

.half-field {
  display: inline-block;
  margin: 0 auto;
  width: 47%;
}

.new-links {
  display: inline-block;
  width: 75%;
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.n-link {
  text-align: center;
  display: inline-block;
  width: 100px;
  margin: 0 10px;
}

.seperator {
  display: inline-block;
  margin: 0 5px;
}

.login-btn {
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  right: 5px;

}

.back-to-signup {
  position: absolute;
  left: 5px;
  bottom: 8px;
  font-size: 18px;
}
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

/* ////////// Application.html.erb ////////// */

body {
  background: url("chalkboard.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  background-color: black;
}


header {
  position: relative;
  background-color: rgba(0,0,0,.4);
}

.logo {
  display: inline-block;
  margin: 10px 15px;
  height: 35%;
  width: 30%;
}

.logout-div {
  display: inline-block;
  height: 60px;
  position: absolute;
  right: 0;
}


.button {
 background-color: #fa4542 ;
 box-shadow: 0 5px 0 0 #be0201 ;
 border-radius: 3px;
 font-size: 21px;
 color: white;
 font-family: Oswald;
 border: none;
 box-sizing: border-box;
 cursor: pointer;
}

.button:hover {
 background-color: #fe0301 ;
}
  
.logout {
  display: inline-block;
  width: 80px;
  height: 35px;
  margin-top: 30px;
  position: absolute;
  bottom: 10px;
  right: 32px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *






 */
