<h1>View All Exit Tickets</h1>

<div class="list-tickets">
	<ul>
		<% @exit_tickets.each do |exit_ticket| %>
		<li><a href="/exit_tickets/<%= exit_ticket.id %>/responses"><%= exit_ticket.date %></a></li>
		<% end %>
	</ul>
</div>
