<div class="list-exit-tickets">
  <h1>View All Exit Tickets</h1>
    <div class="ticket-list">
    <h3>SELECT DATE:</h3>
		  <% @exit_tickets.ordered.each do |exit_ticket| %>
		  <p><a href="/exit_tickets/<%= exit_ticket.id%>/responses"><%= exit_ticket.pretty_time %></a></p>
      <% end %>
    </div>
</div>
