@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

body {
  font-family: Oswald;
  font-size: 14px;
  color: white;
}

.cohort-show-page, .instructor-show-page {
  text-align: center;
}

button {
  cursor: pointer;
}

h1 {
  font-family: Oswald;
  color: white;
  font-size: 50px;
  font-weight: 400;
}

h2 {
  font-size: 25px;
  font-family: Oswald;
}

h3 {
  font-family: Oswald;
  font-size: 22px;
  color: white;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: 400;
}

a {
  color: #be0201;
  font-size: 16px;
}

.wrapper {
  max-width: 85%;
  margin: 0 auto;
  white-space: nowrap;
} 

.wrapper2 {
  max-width: 55%;
  margin: 0 auto;
} 

.create-button {
  background-color: #fa4542;
  box-shadow: 0 5px 0 0 #be0201;
  border-radius: 3px;
  margin: 10px;
  width: 200px;
  height: 40px;
  font-size: 21px;
  color: white;
  font-family: Oswald;
  border: none;
  padding-top: 3px;
  box-sizing: border-box;
}

.create-button:hover {
  background-color: #fe0301;
}

.create-button a {
  font-size: 22px;
  color: white;
  font-family: Oswald;
  text-decoration: none;
  vertical-align: middle;
}

.instructors-img, .producers-img, .students-img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
  border-bottom: 5px solid black;
}

.cohort-instructors, .cohort-producers, .cohort-students, .instructor-cohorts {
  margin-bottom: 20px;
  background: white;
  border-radius: 10px;
  padding-bottom: 5px;
  overflow: hidden;
  color: black;
  margin: 0 auto;
  margin: 10px;
}

.instructor-name h1 {
  text-align: center;
}

.WDI {
  border: 2px white solid;
  border-radius: 100px;
  width: 140px;
  height: 140px;
  background-color: black;
  margin: 0 auto;
  margin-top: 5px;
}

.instructor-cohorts {
  text-align: center;
}

.create-cohort {
  margin: 0 auto;
  width: 30%;
  margin-bottom: 20px;
}

.create-new-exit-ticket {
  margin: 0 auto;
  width: 50%;
  display: block;
  text-align: center;
}

.create-new-exit-ticket-form label, .create-new-exit-ticket-form input {
  text-align: center;
  font-size: 24px;
  font-family: Helvetica;
  font-weight: 300;
}

.submit-ticket  {
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  font-size: 24px;
  color: white;
  padding: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.submit-ticket:hover{
  background-color: black;
}





