body{
  margin: 0;
  color: white;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.grid-1-5 {
  min-width: 20%;
  height:100vh;
  margin: 10px;
}

.grid-2-5 {
  min-width: 37%;
  height:100vh;
  margin: 10px;
}

.grid-5-5 {
  min-width: 100%;
}



