@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);

.headline {
  text-align: center;
  font: 75px bold 'Oswald', Helvetica, sans-serif;
  color: white ;
}

/* ///// Login Box ///// */

.login {
  position: relative;
  height: 300px;
  width: 50%;
  background: rgba(100, 100, 100, .3);
  margin: 0 auto 200px auto;
}

.login-radio {
  width: 100%;
  height: 70px;
  margin: 20px 0;
}

.radio {
  display: inline-block;
  margin: 30px 4%;
  white-space: nowrap;
}

input[type="radio"] {
  margin-left: 10px;
}

label {
  display: inline-block;
  margin: 0 10px;
  font: bold 30px 'Oswald', Helvetica, sans-serif;
  text-align: center;
  color: white;
}

.login-credentials {
  width: 50%;
  margin: 0 auto;  
}

.login-field {
  width: 80%;
  height: 30px;
  font: 20px 'Oswald';
  margin: 10px 10px;
}

.new-links {
  display: inline-block;
  width: 75%;
  position: absolute;
  bottom: 5px;
  left: 10px;
}

.n-link {
  text-align: center;
  display: inline-block;
  width: 100px;
  margin: 0 10px;
}

.seperator {
  display: inline-block;
  margin: 0 5px;
}

.login-btn {
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  right: 5px;

}